* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: auto;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: #0c1729;
  color: #8bacda;
  display: flex;
}

#eth {
  color: hsl(178, 100%, 50%);
}

.main-container {
  background-color: #15273f;
  position: absolute;
  left: 500px;
  top: 60px;
  margin: 100px;
  border-radius: 10px;
  /* padding: 100px; */
  /* height: 900px; */
}

img {
  width: 100%;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 250px;
  height: 500px;
}

#title {
  margin: 15px 0 15px 0;
  color: white;
  /* font-weight: 600; */
}

#para {
  line-height: 1.5em;
  font-size: 18px;
}

#time {
  margin-top: 20px;
}
#eth {
  float: left;
}
#day {
  float: right;
}

.clear {
  clear: both;
}
.footer {
  border-top: #8bacda3d solid 1px;
  margin-top: 15px;
  width: 250px;
  padding-top: 10px;
  margin-bottom: 15px;
}

.footer > img {
  width: 40px;
  float: left;
  border: 1px solid white;
  border-radius: 50%;
}

#credit {
  float: right;
  /* align-items: center; */
  justify-content: center;
  padding-top: 10px;
  padding-right: 30px;
}
